<html>
    <head>
<script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <label for="">Message:</label>
        <input type="text" id="msg" onkeyup="typing()">
        <input type="submit" onclick="send()"></br></br>
        <!-- input pour ajouter un livre -->
        <label for="">Title book:</label>
        <input type="text" id="titlebook" >
        <input type="submit" onclick="sendbook()"></br>

    </body>
    <script>
        //prompt pour le nom de user
        name=prompt("votre nom:")

        //connection au socket
        const socket=io.connect()


        //msg conection 
        socket.on('msgconection',(data)=>{
            console.log(data)
            p=document.createElement("p")
            p.innerText=data
            document.body.append(p)

        })

        //msg de typing
         socket.on('typ',(data)=>{
            console.log(data)
            p=document.createElement("p")
            p.innerText=data
            document.body.append(p)

        })

        //msg de chat
        socket.on('msg1',(data)=>{
            console.log(data)
            p=document.createElement("p")
            p.innerText=data.name +":"+data.msg
            document.body.append(p)

        })

        //alert nbrbook
        socket.on("nbrbook",(data)=>{
          alert("le nombre de livre en stock est :"+data)
        })

        //function pour envoyer le msg de chat
        x=document.getElementById('msg')
        function send(){
            socket.emit('msg1',{name:name,msg:x.value})

        }

        //function pour envoyer le msg de typing
        function typing(){
            socket.emit('typ',"...")
        }



        //function pour envoyer le book
        y=document.getElementById('titlebook')
        function sendbook(){
            socket.emit('bookt',{title:y.value})
        }

    </script>
</html>
